<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
</head>
<body>

    <form action="/login" method="post">
        <div>
            <input class="text-2xl border-2 border-orange-200 rounded-md m-4 p-2 type="email" name="email" placeholder="Enter ur email">
            <input  class="text-2xl border-2 border-orange-200 rounded-md m-4 p-2 type="password" name="password" placeholder="Enter Password">
        </div>

        <div><button  class="text-2xl border-2  bg-orange-200 text-white  bg-orange-800  rounded-md m-4 p-2 type="submit">Login</button></div>
    </form>
    
</body>
</html>