<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
</head>
<body>
    
    <h1 class="text-3xl text-blue-400">Regisiter Yourself</h1>


    
        <form action="/register" method="post" >
        <div class=" w-150 p-2 m-4 flex-col space-y-2">
            <input  class="text-2xl border-2 border-orange-200 rounded-md m-4 p-2"   type="text" name="name" placeholder="Enter your name">
            <input  class="text-2xl border-2 border-orange-200 rounded-md m-4 p-2"   type="password" name="password" placeholder="Enter password">
            <input  class="text-2xl border-2 border-orange-200 rounded-md m-4 p-2"   type="email" name="email" placeholder="Enter your email">
        
        </div>
        <div class=" w-100  flex-col space-y-2 m-4 p-2"><button  class="text-2xl border-2 bg-orange-400 text-white  border-orange-800 rounded-md"  type="submit" value="Register">Register</button></div>
    </form>

  
    


</body>
</html>